<h1>Welcome to the chat room, {{username}}.</h1>
<div class="chatroom-container">
	<div class="chat-area">
		<div class="chats" ng-repeat="chat in chats track by $index">
			<h2 class="chat-userName">
				{{chat.username}}
			</h2>
			<p class="chat.date">
				{{chat.date | date: "MMMM', 'd 'at' h:mm a"}}
			</p>
			<div class="chat-box">
				<p>{{chat.content}}</p>
			</div>
		</div>
	</div>
	<form ng-submit="addChat(chatSubmit)">
		<div class="col-sm-12">
	    	<div class="input-group">
	    		<input type="text" class="form-control" ng-model="chatSubmit.text">
	    		<span class="input-group-btn">
	    			<button class="btn btn-default" type="submit">Send</button>
	    		</span>
	    	</div>
		</div>
	</form>
</div>
