<h1>Welcome to the chat room, {{username}}.</h1>
<div class="chatroom-container">
	<form ng-submit="addChat(chatSubmit)">
		<div class="col-sm-12 chat-submit">
	    	<div class="input-group">
	    		<input type="text" class="form-control" ng-model="chatSubmit.text">
	    		<span class="input-group-btn">
	    			<button class="btn btn-default" type="submit">Send</button>
	    		</span>
	    	</div>
		</div>
	</form>

	<div class="col-sm-12">
		<div class="chat-area col-sm-8">
			<div ng-attr-class="{{ chat.username == username && 'user chat panel' || 'nonuser chat panel' }}" ng-repeat="chat in chats track by $index">
				<h3 class="content">
					{{chat.content}}
				</h3>
				<p class="username">{{chat.username}}</p>
				<p class="date">
					{{chat.date | date: "MMMM', 'd 'at' h:mm a"}}
				</p>
			</div>
		</div>
		<div class="online-users col-sm-4 panel">
			<h2>Online Users</h2>
			<div class="userlist" ng-repeat="onlineUser in onlineUsers" ng-attr-class="{{ onlineUser.username == username && 'onlineUser' || 'nonOnlineUser' }}">
				<h4>{{onlineUser.username}}</h4>
			</div>
		</div>
	</div>
</div>
