<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#/admin">Admin</a></li>

  </ul>
  <h3 class="text-muted">Iron Yard Chat</h3>
</div>

<div class="jumbotron">
  <h1>Welcome to the Iron Yard Chat Room</h1>
  <form class="userNameSubmit" ng-submit="submitUserName(userName)">
    <h3>Please enter your name.</h3>
    <input type="text" ng-model="userName">
    <button type="submit">Go to Chat Room</button>
  </form>
</div>
