body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h3 {
	margin-top: 3px;
}
.container {
	position: relative;
}

.chatroom-container {
	position: absolute;
	height :100%;

}

.home-hero {
	margin-top: 10px;
}

.chat-area {
	max-height: 450px;
	min-height: 450px;
	overflow: auto;
	padding-left: 0;
}
.username {
	font-size: 12px;
}

.content {
}

.date {
	font-size: 10px;
}

.user {
	background-color: rgba(0,122,181,.4);
}

.nonuser {
	background-color: rgba(223,225,66,.4);
	text-align: right;
}

.chat {
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

.chat-submit {
	margin-bottom: 20px;
}

.online-users {
	background-color: rgba(91,192,222,.4);
	max-height: 450px;
	min-height: 450px;
}

.onlineUser {
	font-weight: bold;
	color: #5cb85c;
}

.onlineNonUser {
	font-weight: thin;
}
